@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Importa a fonte (não lembro como usa)*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100vh;
    width: 100vw;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

header{
    height:10%; /*Altura*/
    text-align: center; /*Centraliza texto do header*/
    display: flex; /*Display Flex*/
    justify-content: center; /*Centraliza o conteúdo*/
    align-items: center; /*Centraliza o conteúdo*/
}

main{
    height:80%; /*Altura*/
    display: flex; /*Display Flex*/
    justify-content: center; /*Centraliza o conteúdo*/
    align-items: center; /*Centraliza o conteúdo*/
}

form{
    width: 50%; /*Largura*/

}

.group{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px;
}

label{
    margin: 15px; /*Margem*/
}

fieldset{
    padding: 10px; /*Recuo para dentro do elemento*/
}

footer{
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='text']{
    line-height: 26px;
    font-size: 20px;
}


